/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Kelly's Styles
*/
body {
    font-family: sans-serif;
    font-size: 13px;
    color: #222;
    margin: 0;
}


h2 {
    font-size: 26px;
    margin: 1em 0 .5em;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 1em 0 .5em;
}
h4 {
    font-size: 14px;
    font-weight: bold;
    margin: 1em 0 .5em;
}


p {
    font-size: 14px;
    line-height: 1.5;
    margin:1em 0 0 0;
}                                          

/* We setup the structure of the 'container' element here, giving it a 'centered' look */
#container{                                                 
    width:820px;
    margin: 0 auto;
}

.info{
    background: #fffdf6;
    border:1px solid #ffeaae;
    border-radius: 5px;
    color:#333;
    margin:10px 0 0 0;
    padding:10px 10px 10px 36px;
}


.image{
    width: 350px;
    height: 300px;
    display: block;
}